.root{
    position: relative;
    margin-left: -120px;
}
.input{
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 20px 12px 42px;
    border-radius: 10px;
    width: 400px;
    font-size: 16px;
    &:focus{
        border: 1px solid rgba(0, 0, 0, 0.2);
    }
}
.icon{
    position: absolute;
    width: 22px;
    height: 22px;
    top: 12px;
    left: 12px;
    opacity: 0.3;
}
.iconClear{
    position: absolute;
    width: 22px;
    height: 22px;
    top: 12px;
    right: 12px;
    opacity: 0.3;
    cursor: pointer;
    &:hover{
        opacity: 0.8;
    }
}